@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background: #443dc3;
}

::-webkit-scrollbar-thumb:not(:hover) {
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background: #6C63FF;
}

html {
  color: #030042;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  font-family: 'Roboto', sans-serif;
  background-image: url("./assets/undraw_programming_re_kg9v.svg");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: top 11rem right 10rem;
}

body header {
  border-bottom: 1px solid #030042;
  position: fixed;
  margin-bottom: 3rem;
  width: 100%;
  background-color: white;
  z-index: 10;
}

body header div {
  max-width: 1280px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

body header div p {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

body header div p span {
  font-size: 0.9rem;
  font-weight: 400;
}

body header div p span a {
  text-decoration: none;
  font-weight: 700;
  color: #6C63FF;
}

body header div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

body header div nav a {
  font-size: 1rem;
  color: black;
  letter-spacing: 1px;
  width: 100px;
  text-align: center;
}

body header div nav a:hover {
  text-decoration: underline;
  font-weight: 700;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #6C63FF;
}

body header div nav a:not(:hover) {
  text-decoration: underline;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body main {
  max-width: 1100px;
  margin: auto;
}

body main .intro {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .intro div {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
}

body main .intro div span {
  color: #6C63FF;
}

body main .intro div h1 {
  font-size: 2rem;
  line-height: 1.3;
}

body main .intro div p {
  font-size: 0.9rem;
  max-width: 600px;
}

body main .intro div p a {
  text-decoration: none;
  font-weight: 700;
  color: #6C63FF;
}

body main .intro div small {
  text-align: right;
  margin-top: 2rem;
}

body main .intro div small a {
  color: #6C63FF;
  text-decoration: none;
}

body main .newbie, body main .junior {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
}

body main .newbie .title, body main .junior .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid;
}

body main .newbie .title .circle, body main .junior .title .circle {
  background-color: #6C63FF;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .newbie .title .circle p, body main .junior .title .circle p {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

body main .newbie .title p, body main .junior .title p {
  font-size: 0.8rem;
}

body main .newbie .card-container, body main .junior .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-block: 2rem;
  row-gap: 2rem;
}

body main .newbie .card-container article, body main .junior .card-container article {
  width: 300px;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body main .newbie .card-container article img, body main .junior .card-container article img {
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

body main .newbie .card-container article a, body main .junior .card-container article a {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body main .newbie .card-container article a i, body main .junior .card-container article a i {
  font-size: 0.8rem;
  color: gray;
}

body main .newbie .card-container article a:hover, body main .junior .card-container article a:hover {
  color: #6C63FF;
}

body main .newbie .card-container article a:not(:hover), body main .junior .card-container article a:not(:hover) {
  color: #030042;
}

body main .newbie .card-container article i, body main .junior .card-container article i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

body main .newbie .card-container article .fa-css3-alt, body main .junior .card-container article .fa-css3-alt {
  color: blue;
}

body main .newbie .card-container article .fa-html5, body main .junior .card-container article .fa-html5 {
  color: orange;
}

body main .newbie .card-container article .fa-js-square, body main .junior .card-container article .fa-js-square {
  color: #ffd000;
}

body main .newbie .card-container article p, body main .junior .card-container article p {
  font-size: 0.9rem;
  line-height: 1.2;
}

body main .newbie .card-container article:hover, body main .junior .card-container article:hover {
  background-color: #f3f2ff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

body footer {
  color: white;
  text-align: center;
  background-color: #030042;
  padding-block: 4rem;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

body footer p {
  font-weight: 300;
  letter-spacing: 1px;
}

body footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

body footer .social a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body footer .social a:hover {
  color: #6C63FF;
}

body footer .social a:not(:hover) {
  color: white;
}

body footer .social i {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */